<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451313402244-hta9g3c5ubo05m09pbf15d9s3ll65sf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451313402244-hta9g3c5ubo05m09pbf15d9s3ll65sf9</string>
	<key>API_KEY</key>
	<string>AIzaSyDITlwW7RgfBcgJqY4P1D2NsIFFb1gTs8U</string>
	<key>GCM_SENDER_ID</key>
	<string>451313402244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose_hulman.fisherds.movie_quotes</string>
	<key>PROJECT_ID</key>
	<string>fisherds-movie-quotes-b472d</string>
	<key>STORAGE_BUCKET</key>
	<string>fisherds-movie-quotes-b472d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451313402244:ios:7ffcb703eef948b2309dd1</string>
	<key>DATABASE_URL</key>
	<string>https://fisherds-movie-quotes-b472d.firebaseio.com</string>
</dict>
</plist>